<!DOCTYPE html>
<html>
<head>
	<title>Express app</title>
    <div>
        <h3>Head - 2</h3>
        <hr />
    </div>
</head>
<body>    
<div> <!-- [ Layout- base ] -->
    <div class="container">
        <%- include(layout_name, null ) %>
    </div>
</div>
<div>
    <br />
    <hr />
    <h3>Foot - 2</h3>
</div>
</body>
</html>